body {
    background-image: url(../images/blue\ gradient\ wallpaper.jpg);
    background-repeat: no-repeat;
}

.logo {
    display: block;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#singlebutton {
    font-size: 30px;

}
h1 {
    color: darkred;
    text-align: center;
}

h2 {
    color: seashell;
    text-align: center;
}

h2.trivia {
    text-align: center;
}



@media screen and (min-width: 980px) {
    .container {
        /* width: 750px; */
        height: auto;
        position: relative;
        border: 1px solid #cccccc;
        overflow: auto;
    }
      }
@media screen and (min-width: 768px) {
   section {
        /* width: 650px; */
        height: auto;
        position: relative;
        border: 1px solid #cccccc;
        overflow: auto;
    }
}
@media screen and (min-width: 640px) {
    .container {
        /* width: 400px; */
        height: auto;
        position: relative;
        border: 1px solid #cccccc;
        overflow: auto;
    }
}